@media screen and (min-width: 768px){
    body{
		background-color: #E7C9C3;
    }
	#img{
		width: 1150px;
		height: 360px;
	}
    .wrapper{
		display: grid;
		position: center;
		grid-template-columns: 1fr 1fr 1fr;
	}

	header{
		grid-column: 1/3;
		text-align: center;
	}

	main{
		display: grid;
		grid-column: 1/3;
		grid-gap: 2em;
		grid-template-columns: 1fr 1fr 1fr;
		padding: 5px;
	}

	main section{
		border: 1px solid black;  
		background-color: lightgrey;
	}

	#breed{
		display: grid;
		grid-column:1/4;
		grid-gap: 10px;
		grid-template-columns: 0.5fr 1fr 1fr;
	}
	aside{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	footer{
		display: grid;
		grid-template-columns: 0.5fr 1fr 1fr;	
		background-color: grey;
		grid-column:1/3;
		border:1px solid black;
		grid-gap: 10px;
	}
}

/*@media screen and (min-width: 600px) {
  
    .wrapper{  
		display: grid;
		grid-template-columns: 1fr 1fr;  
	}
	#img{
		width: 100%;
		height: 100%;
	}
	header{
		grid-column: 1/3;
	}

	main{
		grid-gap: 2em;
		display: grid;
		grid-template-columns: 2fr 2fr ;
		padding: 0px;		
		grid-column: 1/3;
	}

	main section{
		background-color: lightgrey;
		border: 1px solid black;
	}

	aside{
		display: grid;
		background:grey;	
		border:1px solid black;
	}

	footer{
		grid-column:2/3;
		display: grid;	
		border:1px solid black;
		grid-template-columns: 0.5fr 1fr 1fr;
		background-color: grey;
		grid-gap: 10px;
	}    
}*/

@media screen and (max-width:38em){
  
    .wrapper{  
		display: grid;
		grid-template-columns: 1fr 1fr;  
	}
	#img{
		width: 100%;
		height: 100%;
	}
	header{
		grid-column: 1/3;
	}

	main{
		grid-gap: 2em;
		display: grid;
		grid-template-columns: 2fr;
		padding: 0px;		
		grid-column: 1/3;
	}

	main section{
		background-color: lightgrey;
		border: 1px solid black;
	}

	aside{
		display: grid;
		background:grey;	
		border:1px solid black;
	}

	footer{
		grid-column:2/3;
		display: grid;	
		border:1px solid black;
		grid-template-columns: 0.5fr 1fr 1fr;
		background-color: grey;
		grid-gap: 100px;
	}    
}